mixin burger-menu 
  .burger 
    button.btn-reset.burger__close(type="button") 
    include @cmps/Navigation/nav


mixin burger-open-button 
  button.btn-reset.burger__open(type="button") 
    span 
    span 
    span 