section.about#about 
  .container 
    h2.visually-hidden О школе
    p.about__descr <b>Robo School</b> – учреждение для формирования кадрового педагогического резерва в сфере робототехники и программирования
    ul.list-reset.about__list 
      li.about__item 
        p.about__digit 10
        p.text.text_small УМК по различным направлениям по робототехнике
      li.about__item 
        p.about__digit 20
        p.text.text_small Школ, в которых запущена робототехника
      li.about__item 
        p.about__digit 100
        p.text.text_small Педагогов прошедших курсы повышения квалификации
      li.about__item 
        p.about__digit 10 000
        p.text.text_small Обученных детей на базе собственных центров