.about {
  padding: var(--section-vertical-offset-big) 0;

  &__descr {
    margin-bottom: em(60px, 30px);
    max-width: rem(890px);
    font-size: rem(30px);
    line-height: 160%;
    color: var(--black);

    @include tablet {
      font-size: rem(24px);
    }

    @include mobile {
      font-size: rem(20px);
    }
  }

  &__list {
    display: grid;
    column-gap: var(--column-gap);
    grid-template-columns: repeat(4, 1fr);
    row-gap: var(--row-gap);
  }

  &__item {
    @include resolution(1200px) {
      grid-column: 2 span;
      text-align: center;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__digit {
    margin: 0;
    font-weight: 600;
    font-size: rem(70px);
    line-height: 160%;
    color: var(--red);

    @include mobile {
      font-size: rem(60px);
    }
  }
}