section.benefits 
  .container 
    h2.title.benefits__title Что вы получите после курса
    ul.list-reset.benefits__list 
      li.benefits__item 
        h3.text.text_medium.benefits__subtitle Удостоверение
        p.text.text_small Дающее право преподавать робототехнику для детей 6-12 лет в образовательных учреждениях
      li.benefits__item 
        h3.text.text_medium.benefits__subtitle Знания
        p.text.text_small По основам разработки учебно-методических комплексов по робототехнике и программированию
      li.benefits__item 
        h3.text.text_medium.benefits__subtitle Практику
          include @cmps/Tooltip/tooltip
        p.text.text_small Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в оффлайн или онлайн формате)