@import "@cmps/Tooltip/tooltip";

.benefits {
  padding: var(--section-vertical-offset) 0;
  background-color: #f9f9f9;

  &__title {
    margin-bottom: em(60px, 50px);
  }

  &__list {
    display: grid;
    column-gap: var(--column-gap);
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--row-gap);

    @include laptop {
      column-gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      align-items: center;
      grid-column: 3 span;
      text-align: center;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: em(20px, 24px);
  }
}