section.coaches#coaches 
  .container 
    h2.title.coaches__title Профессиональнаые тренеры
    .swiper.coaches__slider 
      .swiper-wrapper 
        .swiper-slide.coaches__item 
          .coaches__img 
            +img("coach_Irina.jpg", "Ирина Лайм")
          p.text.text_medium.coaches__name Ирина Лайм
          p.text.text_small.coaches__post преподаватель по робототехнике
          button.btn-reset.coaches__btn Подробнее
        .swiper-slide.coaches__item 
          .coaches__img 
            +img("coach_Marina.jpg", "Марина Орлова")
          p.text.text_medium.coaches__name Марина Орлова
          p.text.text_small.coaches__post преподаватель по робототехнике
          button.btn-reset.coaches__btn Подробнее
        .swiper-slide.coaches__item 
          .coaches__img 
            +img("coach_Maxim.jpg", "Максим Петров")
          p.text.text_medium.coaches__name Максим Петров
          p.text.text_small.coaches__post преподаватель по программированию
          button.btn-reset.coaches__btn Подробнее
        .swiper-slide.coaches__item 
          .coaches__img 
            +img("coach_Konstantin.jpg", "Константин Назаров")
          p.text.text_medium.coaches__name Константин Назаров
          p.text.text_small.coaches__post преподаватель по робототехнике
          button.btn-reset.coaches__btn Подробнее
        .swiper-slide.coaches__item 
          .coaches__img 
            +img("coach_Lisa.jpg", "Лиза Весенняя")
          p.text.text_medium.coaches__name Лиза Весенняя
          p.text.text_small.coaches__post преподаватель по программированию
          button.btn-reset.coaches__btn Подробнее
    .coaches__bottom 
      .coaches__scrollbar 
        .coaches__scrollbar-drag 
      .coaches__nav 
        button.btn-reset.coaches__nav-btn.coaches__nav-btn_prev 
        button.btn-reset.coaches__nav-btn.coaches__nav-btn_next 