.hero {
  padding-top: rem(80px);
  color: var(--white);
  background-color: var(--black);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: "";
      display: block;
      width: rem(640px);
      height: rem(750px);
      background-image: url("../images/woman-looking-into-the-distance.png");
      background-size: (100%, 100%);
      background-repeat: no-repeat;
      transform: translateX(rem(80px));

      @include resolution(1200px) {
        width: rem(442px);
        height: rem(518px);
        transform: translateX(rem(30px));
      }

      @include resolution(992px) {
        transform: none;
      }

      @include mobile {
        width: rem(273px);
        height: rem(320px);
      }
    }

    @include resolution(992px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__content {
    position: relative;
    max-width: rem(520px);
  }

  &__title {
    margin: 0;
    margin-bottom: em(20px, 70px);
    font-weight: 600;
    font-size: rem(70px);
    line-height: 160%;
    text-transform: uppercase;

    @include resolution(992px) {
      font-size: rem(60px);
    }

    @include mobile {
      font-size: rem(40px);
    }
  }

  &__text {
    margin: 0;
    margin-bottom: em(50px, 20px);
    font-size: rem(20px);
    line-height: 160%;

    @include resolution(992px) {
      font-size: rem(18px);
    }

    @include mobile {
      font-size: rem(14px);
    }
  }

  &__link {
    padding: em(18px, 18px) 0;
    width: em(261px, 18px);
  }

  &__content > &__link {
    @include resolution(992px) {
      display: none;
    }
  }

  &__container > &__link {
    display: none;
    order: 1;
    width: 100%;

    @include resolution(992px) {
      display: block;
    }
  }

  @include resolution(992px) {
    padding-bottom: 80px;
  }
}