section.hero 
  .container.hero__container 
    .hero__content 
      h1.hero__title Robo School
      p.hero__text Курсы повышения квалификации по робототехнике для педагогов начальной школы
      a.btn-reset.btn.btn_red.hero__link(href="#order") Записаться на курс
    a.btn-reset.btn.btn_red.hero__link(href="#order") Записаться на курс