section.order 
  .container.order__container 
    .order__promo 
      h2.order__title Запишитесь на курс со скидкой 10%
      p.order__descr Акция действительна до 10 марта 2023 года
    form.order__form(action="#", method="post") 
      input.input-reset.order__input(type="text", placeholder="Имя") 
      input.input-reset.order__input(type="tel", placeholder="Телефон") 
      input.input-reset.order__input(type="email", placeholder="E-mail") 
      button.btn-reset.btn.btn_black.order__btn(type="submit") Оформить заявку