.order {
  padding: rem(90px) 0;
  background-image: url("../images/promo.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: var(--red);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__promo {
    max-width: rem(480px);
    color: var(--white);
  }

  &__title {
    margin: 0;
    margin-bottom: em(20px, 36px);
    font-weight: 600;
    font-size: rem(36px);
    line-height: 130%;
  }

  &__descr {
    margin: 0;
    font-size: rem(20px);
    line-height: 130%;
  }

  &__form {
    width: 100%;
    max-width: rem(500px);
  }

  &__input {
    display: block;
    margin-bottom: rem(10px);
    border-radius: var(--r-regular);
    padding: 0 rem(20px);
    width: 100%;
    height: rem(64px);
    font-family: inherit;
    font-size: rem(18px);
    line-height: 150%;
    background-color: var(--white);
  }

  &__btn {
    width: 100%;
    height: rem(64px);
  }
}