section.tariffs#tariffs 
  .container 
    h2.title.tariffs__title Выберите нужный пакет
    ul.list-reset.tariffs__list 
      li.tariffs__item.tariffs__item_hero 
        h3.tariffs__subtitle pro
        .tariffs__price 20.000 ₽
        p.tariffs__descr УМК по робототетхнике и программированию
        a.btn-reset.btn.btn_red.tariffs__link(href="#order") Оставить заявку
      li.tariffs__item 
        h3.tariffs__subtitle robo
        .tariffs__price 15.000 ₽
        p.tariffs__descr УМК по робототетхнике
        a.btn-reset.btn.btn_red.tariffs__link(href="#order") Оставить заявку
      li.tariffs__item 
        h3.tariffs__subtitle prog
        .tariffs__price 10.000 ₽
        p.tariffs__descr УМК по программированию
        a.btn-reset.btn.btn_red.tariffs__link(href="#order") Оставить заявку
        