.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: rem(20px);
    line-height: 160%;
    color: var(--white);

    &:not(:last-child) {
      margin-right: em(40px, 20px);
    }
  }
}