nav.nav 
  ul.list-reset.nav__list 
    li.nav__item 
      a.nav__link(href="#about") О школе
    li.nav__item 
      a.nav__link(href="#coaches") Тренеры
    li.nav__item 
      a.nav__link(href="#tariffs") Стоимость
