.modal__close {
  position: absolute;
  right: rem(40px);
  top: rem(40px);

  @include tablet {
    right: rem(10px);
    top: rem(10px);
    width: rem(20px);
    height: rem(20px);
    font-size: 0;
    background-image: url("../images/svg/cross.svg");
    background-size: 100% 100%;
  }
}

.popup {
  position: relative;
  margin: rem(50px) auto;
  border-radius: var(--r-large);
  padding: rem(40px);
  width: 100%;
  height: auto;
  max-width: rem(940px);
  background-color: var(--white);

  &__header {
    display: flex;
    margin-bottom: rem(40px);
  }

  &__img {
    margin-right: rem(40px);
    border-radius: var(--r-large);
    width: rem(160px);
    height: rem(222px);

    img {
      border-radius: inherit;
    }

    @include mobile {
      margin-right: rem(20px);
      width: rem(115px);
      height: rem(160px);
    }
  }

  &__name {
    margin-bottom: em(10px, 24px);
  }

  &__post {
    margin-bottom: em(10px, 18px);
  }

  &__content:not(:last-child) {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: rem(20px);
    }
  }

  &__text {
    margin: 0;
    margin-bottom: em(5px, 20px);
    font-size: rem(20px);
    line-height: 160%;
    color: var(--black);

    @include tablet {
      font-size: rem(18px);
    }

    @include mobile {
      font-size: rem(16px);
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: em(20px, 24px);
    font-weight: 600;
    font-size: rem(24px);
    line-height: 160%;
    color: var(--black);

    @include tablet {
      font-size: rem(22px);
    }

    @include mobile {
      font-size: rem(20px);
    }
  }

  @include tablet {
    padding: rem(40px) rem(20px);
  }
}

.socials {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: rem(10px);
  }

  &__link {
    display: block;
    border-radius: 50%;
    width: rem(30px);
    height: rem(30px);
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tabs {
  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid rgba(20 16 36 / 11%);
    padding-bottom: rem(20px);
  }

  &__btn {
    font-size: rem(20px);
    line-height: 160%;
    color: var(--black);

    &_current {
      color: var(--red) !important;
      background-color: initial !important;
      pointer-events: none;
    }

    &:focus {
      outline: none;
      color: var(--red) !important;
      background-color: initial !important;
    }

    @include tablet {
      font-size: rem(18px);
    }

    @include mobile {
      font-size: rem(16px);
    }
  }

  &__panel {
    display: none;
    overflow: auto;
    padding-top: rem(20px);
    padding-right: rem(20px);
    height: 375px;
    max-height: 375px;

    &_current {
      display: block;
    }
  }
}

.simplebar-track.simplebar-vertical {
  margin: rem(20px) 0;
  border-radius: 40px;
  width: 5px;
  background-color: rgba(20 16 36 / 8%);
}

.simplebar-scrollbar {
  border-radius: 40px;
  width: 5px;
  background-color: var(--black);
}
