@import "@cmps/Logo/logo";
@import "@cmps/Navigation/nav";
@import "@cmps/Phone/phone";

.header {
  background-color: var(--black);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(30px) rem(100px);
  }
}