.btn {
  border-radius: var(--r-regular);
  font-size: rem(18px);
  line-height: 160%;
  text-align: center;
  color: var(--white);
  transition: background-color 0.5s ease, color 0.5s ease;

  &_red {
    border: 1px solid var(--red);
    background-color: var(--red);

    @include hover {
      color: var(--red);
      background-color: transparent;
    }
  }

  &_black {
    background-color: var(--black);
  }
}