.text {
  margin: 0;
  line-height: 160%;

  &_small {
    font-size: rem(18px);
    color: var(--gray);

    @include mobile {
      font-size: rem(16px);
    }
  }

  &_medium {
    font-weight: 600;
    font-size: rem(24px);
    color: var(--black);

    @include mobile {
      font-size: rem(20px);
    }
  }
}