.title {
  margin: 0;
  font-weight: 600;
  font-size: rem(50px);
  line-height: 160%;
  color: var(--black);

  @include resolution(992px) {
    font-size: rem(40px);
  }

  @include tablet {
    font-size: rem(30px);
    text-align: center;
  }
}